.improvrnn {
    margin: 20px auto;
    max-width: 400px;
    text-align: center;
    &__chords {
        margin: 10px 0;
        &--key {
            width: 56px;
            input {
                color: #fff;
                text-align: center;
            }
        }
        &--error {
            color: #ff0000;
        }
    }
    &__settings {
        margin: 10px auto;
        &--slider {
            font-size: 14px;
            mat-slider {
                width: 100%
            }
        }
        &--num {
            color: #fff;
            max-width: 160px;
        }
    }
    &__player {
        margin: 10px auto;
        &--canvas {
            width: 100% !important;
            height: 42px;
        }
    }
    &__controls {
        margin: 20px auto;
    }
    &__loader {
        color: yellow;
        font-size: 22px;
        margin: 20px auto;
        mat-spinner {
            margin: 10px auto;
        }
    }
}