<mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
   <mat-icon>menu</mat-icon>
 </button>
    <span>{{title}}</span>
    <span class="toolbar-spacer"></span>
    <a mat-flat-button color="accent" href="https://www.buddhilive.com/p/donations.html" target="_blank" class="donation-button">
        <mat-icon>attach_money</mat-icon> Donations
    </a>
</mat-toolbar>
<mat-drawer-container class="bls-container" [hasBackdrop]="true">
    <mat-drawer #drawer mode="over" class="bls-container__drawer">
        <mat-list role="list">
            <mat-list-item role="listitem" matRipple routerLink="/">
                <mat-icon mat-list-icon>home</mat-icon> Home
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>