<mat-toolbar color="primary" class="bls-toolbar">
    <button mat-icon-button (click)="drawer.toggle()">
   <mat-icon>menu</mat-icon>
 </button>
    <span>{{title}}</span>
    <span class="toolbar-spacer"></span>
    <a mat-flat-button color="accent" href="https://www.buddhilive.com/p/donations.html" target="_blank" class="bls-toolbar__button">
        Sponsor
    </a>
    <a mat-mini-fab color="accent" matTooltip="Help" class="bls-toolbar__button" href="https://www.buddhilive.com/search/label/BL%20Studio?&max-results=7" target="_blank">
        <mat-icon>help_outline</mat-icon>
    </a>
</mat-toolbar>
<mat-drawer-container class="bls-container" [hasBackdrop]="true">
    <mat-drawer #drawer mode="over" class="bls-container__drawer">
        <mat-list role="list">
            <mat-list-item role="listitem" matRipple routerLink="/" (click)="drawer.toggle()">
                <mat-icon mat-list-icon>home</mat-icon> Home
            </mat-list-item>
            <mat-list-item role="listitem" matRipple routerLink="/melody" (click)="drawer.toggle()">
                <mat-icon mat-list-icon>music_video</mat-icon> Melody
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>