<div class="container dashboard">
    <div class="row dashbaord__tiles">
        <div class="col-md-6 dashboard__card">
            <mat-card routerLink="/melody">
                <img src="assets/image/wave1.png" class="dashboard__card--image" />
                <h3 class="dashboard__card--title">melody</h3>
            </mat-card>
        </div>
        <div class="col-md-6 dashboard__card">
            <mat-card class="coming-soon">
                <h1>More Tools Coming Soon...</h1>
            </mat-card>
        </div>
    </div>
    <div class="row dashboard__about">
        <div class="col-md-12">
            <img src="assets/image/bl-studio-logo-full-white.png" alt="" class="dashboard__about--logo">
        </div>
    </div>
</div>