/* You can add global styles to this file, and also import other style files */

@import './styles/improv-rnn';
@import './styles/dashboard';
@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bls-primary: mat-palette($mat-yellow);
$bls-accent: mat-palette($mat-indigo, A200, A100, A400);
// The warn palette is optional (defaults to red).
$bls-warn: mat-palette($mat-red);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$bls-theme: mat-dark-theme($bls-primary, $bls-accent, $bls-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($bls-theme);
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    background-color: #303030 !important;
    color: #fff !important;
}

.row {
    display: flex;
}

[class*='col-md'] {
    width: 100%;
    text-align: center;
}

.message-snackbar {
    background-color: #242424;
    color: #d8a600;
}

.tooltip-class {
    background-color: #FFEE58;
    color: #000 !important;
}

.bls-container {
    height: calc(100vh - 64px);
    &__drawer {
        min-width: 240px;
        mat-list-item {
            cursor: pointer;
            outline: none;
            &:hover {
                background-color: lighten($color: #303030, $amount: 10);
            }
        }
    }
}

.home-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    &__root {
        max-width: calc(100% - 360px);
        width: 100%;
    }
    &__ads {
        width: 360px;
        background-color: #fff;
        &--title {
            text-align: center;
            margin: 20px auto;
            color: #424242;
        }
    }
}

.featured-ad {
    margin: 10px auto;
    width: fit-content;
}

.bls-toolbar {
    &__button {
        margin: 0 5px !important;
        text-decoration: none !important;
    }
}